body {
	background-image: url("kuvat/Star-Wars-Pulp-Fiction.jpg");
	font-family: Helvetica;
	color: white;
}

* {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
}

p {
	font-size: 20px;
	color: white;
}

h2, h3 {
	text-align: center;
	color: red;
}

ul {
	list-style-type: none;
	background-image: url(navi_bg.png);
	height: 80px;
	width: 663px;
	margin: auto;
}

ul a {
	
	background-image: url(navi_bg_divider.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 32px;
	padding-left: 32px;
	display: block;
	line-height: 80px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 21px;
	color: white;
}

ul a: hover {
	color: #FFF;
}	

li {
	float: left;
}

a {
	text-decoration: none;
}

.FAT {
	font-weight: bold;
}

li.FAT {
	color: #FF0000;
}

.vinous {
	font-style: italic;
}

function playPause()
{ 
if (myVideo.paused) 
  myVideo.play(); 
else 
  myVideo.pause(); 
} 

function makeBig()
{ 
myVideo.width=560; 
} 

function makeSmall()
{ 
myVideo.width=320; 
} 

function makeNormal()
{ 
myVideo.width=420; 
} 

div {
	border: 1px solid red;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#wrapper {
	width: 1900px;
	height: 1000px;
	margin: 0 auto 0 auto;
}

#header {
	margin-top: 50px;
	height: 200px;
	width: 1899px;
}

#nav {
	
}

#vasen {
	float: left;
	width: 700px;
	border: 1px solid red;
	height: 450px;
}

#oikea {
	float: right;
	border: 1px solid red;
	width: 650px;
	height: 450px;
}

#clock
{
	position: absolute;
	top: 100px;
	left: 50px;
	font-family: Quartz MS;
	font-size: 50px;
}

#footer {
	clear: both;
	padding-bottom: 50px;
}

img {
	float: left;
}

#myCanvas {
	position: absolute;
	top: 70px;
	right: 50px;
	width: 150px;
	height: 150px;
	
}
