body {
	background-color: #6600FF;
	font-family: OCR A Std;
}
h1 , h2 ,h3 	{
	font-family: Pericles;
	color: red;
	text-align:center;
}
p	{
	font-size: 25px;
	
	color: red;
}
ul , h3	{
	color: #0066FF;
	text-align: center-left;
}
a	{
	text-decoration:none;
}

.boldaus {
	font-weight: bold;
	color: red;
}
a.boldaus {
	color: red;
}
.kursiivi {
	font-style: italic;
}

div {
	border: 1px solid white;
	
	padding: 20px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#nav {
	height: 70px;
	width: 1938px
}

#wrapper {
	width: 1980px;
	height: 1080px
	background-image: url ("kuvat/BG4.jpg);
	background-position: center;
	margin: 0 auto 0 auto;
	border: 0px;
}

#header {
	height: 330px;
	margin-top: 50px;
	background-image: url ("kuvat/BG3.png");
}

#oikea {
	float: right;
	border: 3px solid white;
	width: 800px;
	height: 500px;
}

#vasen {
	float: left;
	width: 800px;
	height: 500px;
	border: 3px solid white;
}

#footer {
	clear: both;
	padding-bottom: 50px;
}
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li
{
float:left;
}
a:link,a:visited
{
display:block;
width:120px;
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#7A991A;
}